* {
margin:0;
padding:0;
box-sizing:border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.6;
    background: linear-gradient(to bottom,#4dbac9, #10384e);
    min-height: 100vh;
    color: white;
   /* padding: 5%; */
}
.navbar{
    overflow: hidden;
    background-color: white;
    top: 0;
    position: sticky;
}
.navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 1em 2em;
    text-decoration: solid;
}
.navbar a:hover{
    background-color: black;
    color: white;
}
.navbar a.active{
    background-color: grey;
    color: white;
}
.button-awesome{
    padding: 10px 20px;
    background-color: #66a6ff;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight:  bold;
    cursor: pointer;
    transition: background-color 0.3 ease-in-out;
}
.button-awesome:hover{
    background-color: rgb(39, 239, 112);
}
.container {
  width: 12rem;
  margin: 0 auto;
  
  resize: horizontal;
  overflow: auto;
}
.inline-list{
    display: inline-block;
    padding: 0;
    line-height: 5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    list-style: circle;
}
.inline-list > li{
    display: inline;
}
.inline-list > li::after {
    content: " ";
    width: 2px;
    height: 1em;
    background: linear-gradient(90deg, transparent calc(50% - 0.03125em), currentColor 0, currentColor calc(50% + 0.03125em), transparent 0);
}
.stickheader{
    position: sticky;
    border: none;
    border-radius: 5px;
    top: 0;
    padding: 10px 16px;
    background: cornflowerblue;
    color: #f1f1f1;
}
.header{
position: static;
border: none;
top: 0;
padding: 10px 16px;
background-color: azure;

}
p{
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1rem;
    line-height: 1.6;
}