* {
margin:0;
padding:0;
box-sizing:border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.6;
    background: linear-gradient(to bottom,#89f7fe, #66a6ff);
    min-height: 100vh;
    color: white;
    padding: 10px;
}
.button-awesome{
    padding: 10px 20px;
    background-color: #66a6ff;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight:  bold;
    cursor: pointer;
    transition: background-color 0.3 ease-in-out;
}
.button-awesome:hover{
    background-color: darkblue;
}
.header{
    position: sticky;
    border: none;
    border-radius: 5px;
    top: 0;
    padding: 10px 16px;
    background: cornflowerblue;
    color: #f1f1f1;
}
p{
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1rem;
    line-height: 1.6;
}